* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.slider {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

input[name='r'] {
    position: absolute;
    visibility: hidden;
}

.slider__pagination {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 22px;
    right: 135px;
}
.bar {
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 100%;
    border: solid 10px #000;
    opacity: 0.5;
    transition: all .6s ease;
}
.bar:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
.wrapper {
    width: 1000px;
    height: 800px;
    padding-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    border: solid 2px #fff;
}

.slide{
    width: 100%;
    transition: all .6s ease;
}

img {
    width: 700px;
    height: 700px;
    margin-left: 150px;
    margin-right: 150px;
}

span {
    color: #fff;
    font-size: 40px;
    padding-left: 150px;
}

#one:checked ~.s1{
    margin-left: 0;
}

#one:checked ~.n1 {
    margin-left: 0;
}

#two:checked~.s1{
    margin-left: -100%;
}

#two:checked ~.n1 {
    margin-left: -100%;
}

#three:checked~.s1{
    margin-left: -200%;
}

#three:checked ~.n1 {
    margin-left: -200%;
}

#four:checked~.s1{
    margin-left: -300%;
}

#four:checked ~.n1 {
    margin-left: -300%;
}

#five:checked~.s1{
    margin-left: -400%;
}

#six:checked~.s1{
    margin-left: -500%;
}

#seven:checked~.s1{
    margin-left: -600%;
}

#eight:checked~.s1{
    margin-left: -700%;
}

#nine:checked~.s1{
    margin-left: -800%;
}


@media (max-width: 768px) {
}

@media (max-width: 560px) {
    
}

@media (max-width: 320px) {
    
}







