* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(83, 83, 83);
}

input {
   display: none;
}

.slider {
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
    padding: 4% 0;
    border: 5px solid #fff;
    border-radius: 5%;
}

.slider-line {
    width: 400%;
    height: 88%;
    display: flex;
    justify-content: right;
}

.slides {
    width: 25%;
    transition: all .3s ease;
}
.slides p {
    color: #fff;
    width: 20%;
    margin-left: 26%;
    margin-top: 1%;
}

.slides img {
    border-radius: 5%;
    display: block;
    margin: auto;
}

.slider-pagination {
    display: flex;
    gap: 5px;
    cursor: pointer;
    justify-content: end;
    margin-right: 26%;
}

.slider-btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 140, 255);
    cursor: pointer;
}

.slider-btn:hover {
    background-color: white;
    cursor: pointer;
}

#radio2:checked ~ .s1,
#radio2:checked ~ .s2,
#radio2:checked ~ .s3,
#radio2:checked ~ .s4 {
    transform: translateX(-100%);
 }

 #radio3:checked ~ .s1,
 #radio3:checked ~ .s2,
 #radio3:checked ~ .s3,
 #radio3:checked ~ .s4 {
     transform: translateX(-200%);
  }

#radio4:checked ~ .s1,
#radio4:checked ~ .s2,
#radio4:checked ~ .s3,
#radio4:checked ~ .s4 {
     transform: translateX(-300%);
  }

