* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #008cff;
    scroll-behavior: smooth;
}

input {
   display: none;
}

.slider {
    width: 60%;
    overflow: hidden;
    margin: 5% auto;
    padding: 4% 0;
    border: 1vh solid #fff;
    background-color: #535353;
    border-radius: 5%;
}

.slider-line {
    width: 400%;
    height: 88%;
    display: flex;
    justify-content: right;
}

.slides {
    width: 25%;
    transition: all .5s ease;
}

.slides img {
    border-radius: 5%;
    display: block;
    margin: auto;
}

.slider-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4% 20%;
}

.slider-notes {
    width: 70%;
    height: 4vh;
    color: #fff;
    overflow: hidden;
}

.slider-note {
    transition: all .5s ease;
}

.slider-pagination {
    display: flex;
    cursor: pointer;
    justify-content: end;
}

.slider-btn {
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    background-color: #008cff;
    cursor: pointer;
    transition: all .5s ease;
    margin: 1vh;
}

.slider-btn:hover {
    background-color: white;
    cursor: pointer;
}

#radio1:checked ~ .slider-nav .slider-pagination .one,
#radio2:checked ~ .slider-nav .slider-pagination .two,
#radio3:checked ~ .slider-nav .slider-pagination .three,
#radio4:checked ~ .slider-nav .slider-pagination .four {
    width: 3vh;
    height: 3vh;
    background-color: #535353;
    border: 0.5vh solid #008cff;
    cursor: pointer;
}

#radio2:checked ~ .slider-line .s1,
#radio2:checked ~ .slider-line .s2,
#radio2:checked ~ .slider-line .s3,
#radio2:checked ~ .slider-line .s4 {
    transform: translateX(-100%);
 }

 #radio3:checked ~ .slider-line .s1,
 #radio3:checked ~ .slider-line .s2,
 #radio3:checked ~ .slider-line .s3,
 #radio3:checked ~ .slider-line .s4 {
     transform: translateX(-200%);
  }


#radio4:checked ~ .slider-line .s1,
#radio4:checked ~ .slider-line .s2,
#radio4:checked ~ .slider-line .s3,
#radio4:checked ~ .slider-line .s4 {
     transform: translateX(-300%);
  }

#radio2:checked ~ .slider-nav .slider-notes .one,
#radio2:checked ~ .slider-nav .slider-notes .two,
#radio2:checked ~ .slider-nav .slider-notes .three,
#radio2:checked ~ .slider-nav .slider-notes .four {
      transform: translateY(-100%);
}

#radio3:checked ~ .slider-nav .slider-notes .one,
#radio3:checked ~ .slider-nav .slider-notes .two,
#radio3:checked ~ .slider-nav .slider-notes .three,
#radio3:checked ~ .slider-nav .slider-notes .four {
      transform: translateY(-200%);
  }

#radio4:checked ~ .slider-nav .slider-notes .one,
#radio4:checked ~ .slider-nav .slider-notes .two,
#radio4:checked ~ .slider-nav .slider-notes .three,
#radio4:checked ~ .slider-nav .slider-notes .four {
      transform: translateY(-300%);
}


